<div class="bodyContainer">
  <div class="signUp">

    <h1>Edit Account:</h1>
    <!-- <p>Find me in app/views/users/new.html.erb</p> -->


    <%= form_for @user do |f| %>

        <div class="sign">
          <%= f.label :username, "Username: " %>
          <%= f.text_field :username %>
        </div>

        <div class="sign">
          <%= f.label :fname, "First Name: " %>
          <%= f.text_field :fname %>
        </div>

        <div class="sign">
          <%= f.label :lname, "Last Name: " %>
          <%= f.text_field :lname %>
        </div>

        <div class="sign">
          <%= f.label :email, "Email: " %>
          <%= f.text_field :email %>
        </div>

        <div class="sign">
          <%= f.label :password, "Password: " %>
          <%= f.password_field :password %>
        </div>

        <div class="sign">
          <%= f.label :password_confirmation, "Confirm Password: " %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="sign">
          <%= f.submit "Save" %>
        </div>

    <% end %>




  </div>
</div>
