<!-- This is the posts page -->

<div class="bodyContainer">
    <h1><em>Posts!</em></h1>
</div>

<div class="body">
    <div class="sidebar">
        <h1>Check Out Some Other Posts!</h1>

          <div class="users">
            <% @users.each do |user| %>
            <br><br>
                <h2>
                    <%= link_to(user.username, user_path(user) ) %>
                </h2>
                <p>
                    <a href="mailto:someone@example.com?Subject=Hello%20again"><%= user.email %></a>
                </p>

                <p>
                    created: <%= time_ago_in_words(user.created_at) %> ago
                </p>
            <% end %>

            </div>
          </div>


          <div class="userPost">
            <% @posts.each do |post| %>
                  <h3><%= post.title %></h3>
                <p>
                    <%= post.content %>
                </p>
                <br>
            <% end %>

        </div>
    </div>
